*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #A0531D;

}

.game-board {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-bottom: 10px solid green;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
    position: absolute;
    bottom: 0;
    width:80px;
    animation: pipe-animation  2s infinite linear;
}
.goonba {
    position: absolute;
    bottom: 0;
    width:50px;
    animation: pipe-animation  3s infinite linear;
}

.mario {
    width: 100px;
    position:absolute;
    bottom:0;
}

.jump {
    animation: mario-jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
    animation: clouds-animation 10s infinite ease-out;
}

@keyframes pipe-animation {
    from {
        right:-80px;
    } to {
        right:100%;
    }
    
}

@keyframes mario-jump {
    0%{
        bottom:0;
    }
    30% {
        bottom:150px  ;
    }
    80% {
        bottom:150px;
    }
    100% {
        bottom:0 ;
    }
}

@keyframes clouds-animation {
    from {
        right:-550px;
    } to {
        right:110%;
    }
}

#refresh {
    background-color: #333;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    font-size: large;
    width: 10vw;
}